@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Fibonacci</h1>
        <form method="post">
            <input type="number" name="fibonacciNumber">
            <input type="submit">
        </form>
    </div>
